<%= render "devise/shared/header" %>
<% if user_signed_in?%>


  <main role="main" class="inner cover">
    
   

    <div class="contents row">
  <% @targets.each do |target| %>
   
<div class="table-responsive">
    <table class="table">
    <tbody>
        <tr>
            <td><%= target.name%></td>
            <td>￥<%= target.price%></td>
            <td>期限：<%= target.deadline%></td>
        </tr>
<%# 
       
       
    </tbody>
</table>
<%= image_tag target.image %>
   <%= pie_chart @data %> 
</div>
    

  <% end %>
</div>

  

</main>


</div>

<%else%>
  
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


  <main role="main" class="inner cover">
    <h1 class="cover-heading">Less is more.</h1>
    <p class="lead"></p>

    
 

	

    <%= image_tag "micheile-henderson-lZ_4nPFKcV8-unsplash.jpg", class:"main-pict" %>
  

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>@All rights reseved for LessMore.inc</p>
    </div>
  </footer>
</div>

<%end%>


<%= render 'devise/shared/footer'%>
