<div class="items-sell-main">
    <h2 class="items-sell-title">欲しい物、したいことを入力しよう</h2>
    <%= form_with model:@expense, url:'/expenses', local: true do |f| %>


    <div class="new-items">
      <div class="weight-bold-text">
        
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :internet, class:"items-text", id:"item-name", placeholder:"欲しいもの（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        　値段
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :cell_phone, class:"items-text", id:"item-name", placeholder:"欲しいもの（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        　値段
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :food, class:"items-text", id:"item-name", placeholder:"欲しいもの（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        　値段
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :gas, class:"items-text", id:"item-name", placeholder:"欲しいもの（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        　値段
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :water, class:"items-text", id:"item-name", placeholder:"欲しいもの（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        　値段
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :electric, class:"items-text", id:"item-name", placeholder:"欲しいもの（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        　値段
          <span class="indispensable">必須</span>
        </div>
        
        
      <%= f.submit "決定" ,class:"sell-btn" %>
    </div>
    <%end%>